[Unit]
Description=bestchange_info_unpack
After=syslog.target
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/bestchange_api/
ExecStart=/home/bestchange_api/env/bin/python3 -m bestchange_info_unpack
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target